<br>

<p class="lead">
  <strong>Code :</strong>
  <%= @classroom.identity %>
</p>

<p class="lead">
  <strong>Name:</strong>
  <%= @classroom.name %>
</p>

<%= link_to 'Edit', edit_classroom_path(@classroom), class: "btn btn-warning" %> <i>  </i>
<%= link_to 'Back', classrooms_path, class: "btn btn-danger" %>
