<h1>Comments</h1>

<ul id="comments">
  <% for comment in @comments %>
    Comment: <%=h comment.body %></p>
<% end %>
</ul>

<h2>New Comment</h2>
<% form_for [@commentable, Comment.new] do |form| %>
  <ol class="formList">
    <li>
      <%= form.label :content %>
      <%= form.text_area :content, :rows => 5 %>
    </li>
    <li><%= submit_tag "Add comment" %></li>
  </ol>
<% end %>
