<%= form_for(@micropost) do |f| %>
    <div class="form-group">
    <%= f.text_area :content, placeholder: "What your info . . . ", autofocus: true, rows: "3", class: "form-control", required: true %>
    </div>
  <%= f.submit "Post", class: "btn btn-info pull-right" %><br />
<% end %>
