<div class="media">
  <div class="media-left">
    <div class="profile-userpic2">
        <%= image_tag @user.photo.url, :width => 10, :height => 10, :crop => :fill, :class => "avatar img-rounded img-thumbnail", :alt => "", :class => "img-responsive" %>
    </div>
  </div>

  <div class="media-body">
  <span class="content"><p class="lead"><%= micropost.content %></p></span>

  <span class="timestamp">
    <p class="text-right">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago. <% if
    current_user?(micropost.user) %>
   <%= link_to "delete", micropost, method: :delete, confirm: "Are you sure ?", title: micropost.content, class: "btn btn-mini btn-danger" %>
   <% end %>
    </p>
  </span>

  </div>
</div>
<hr />
